@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* black */
  --background-start-rgb: 255, 255, 255; /* white */
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to left, #2980b9, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

.prose > p {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}
.prose a {
  @apply no-underline;
}
.prose :where(code):not(:where([class~='not-prose'] *)) {
  font-size: 1rem;
  color: #555151;
}
.prose :where(code):not(:where([class~='not-prose'] *))::before {
  content: '' !important;
}
.prose :where(code):not(:where([class~='not-prose'] *))::after {
  content: '' !important;
}

[data-rehype-pretty-code-title] {
  @apply text-xs font-mono border rounded-t-lg text-neutral-200 border-[#333333] bg-[#353434] px-4 py-3;
}
[data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-none bg-[#1f1f1f];
}

.gfm-color-chip {
  margin-left: 0.125rem;
  display: inline-block;
  height: 0.625rem;
  width: 0.625rem;
  border-radius: 9999px;
  border: 1px solid gray;
}
